src/main/mule/demo-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbccbd94-6288-4917-8d00-868c720c8502" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-cicdFlow" doc:id="ba58b002-61bd-4cf8-a2e0-850592815897" >
		<http:listener doc:name="Listener" doc:id="fd1b9acb-2697-4eb9-bd91-137d88face8d" config-ref="HTTP_Listener_config" path="/Hello"/>
		<ee:transform doc:name="Transform Message" doc:id="19ceaf2c-b222-4dcd-968f-9aa232db2db7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Hello world I am implementing CICD"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ec37180c-419f-4ee1-922a-e113cae7a064" message="#[payload]"/>
	</flow>
</mule>
